* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-gap: 30px;
}

.countIteam {
  padding: 45px 52px;
  background-color: #cf0000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-weight: 400;
  font-size: 30px;
  color: #faf9fd;
}

.countDitels {
  font-weight: 400;
  font-size: 30px;
  color: #faf9fd;
}
